# The virtual environment directory
/venv

# Byte-compiled Python files
__pycache__/
*.pyc
src/__pycache__/
src/*.pyc

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints

# Environment variables file
.env